@import '~bootstrap';
@import '~bootstrap-vue';
@import 'global/all';

.search-input, .results-table {
  @include add-padding
}

#app {
  &, .home-page {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}

.dark-mode {
  &, .table {
    @include dark-mode($bg-dark, $font-dark);
  }

  &.navigation-bar .navbar {
    background-color: #222222 !important;
  }

  & .text-danger {
    color: white !important;
  }
}

.smaller-font {
  font-size: $smaller;
  & .regular-font {
    & svg {
      font-size: 1.7em;
      padding-left: $container / 2;
      vertical-align: middle;
    }
  }
}
